[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
autopep8 = "*"
pytest = "*"
isort = "*"
pytest-watch = "*"

[packages]
requests = "*"
records = "*"
requests-html = "*"
scikit-learn = "*"
dateparser = "*"
numpy = "*"
scipy = "*"
joblib = "*"
progressbar2 = "*"
xgboost = "*"
tensorflow = "*"
plaidml-keras = "*"
sqlalchemy = "*"
random-word = "*"
random-name = "*"
terminaltables = "*"

[requires]
python_version = "3.6"
